@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.3);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.3);
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.96 0.002 17.2);
  --muted-foreground: oklch(0.547 0.021 43.1);
  --accent: oklch(0.96 0.002 17.2);
  --accent-foreground: oklch(0.214 0.009 43.1);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0.005 34.3);
  --input: oklch(0.922 0.005 34.3);
  --ring: oklch(0.714 0.014 41.2);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --radius: 0.45rem;
  --sidebar: oklch(0.986 0.002 67.8);
  --sidebar-foreground: oklch(0.147 0.004 49.3);
  --sidebar-primary: oklch(0.609 0.126 221.723);
  --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
  --sidebar-accent: oklch(0.96 0.002 17.2);
  --sidebar-accent-foreground: oklch(0.214 0.009 43.1);
  --sidebar-border: oklch(0.922 0.005 34.3);
  --sidebar-ring: oklch(0.714 0.014 41.2);
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.3);
  --header-height: 3.5rem;
}

.dark {
  --background: #000514;
  /* --background: oklch(0.147 0.004 49.3); */
  --foreground: oklch(0.986 0.002 67.8);
  --card: oklch(0.214 0.009 43.1);
  --card-foreground: oklch(0.986 0.002 67.8);
  --popover: oklch(0.214 0.009 43.1);
  --popover-foreground: oklch(0.986 0.002 67.8);
  --primary: var(--color-sky-600);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.011 36.5);
  --muted-foreground: oklch(0.714 0.014 41.2);
  --accent: oklch(0.268 0.011 36.5);
  --accent-foreground: oklch(0.986 0.002 67.8);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.547 0.021 43.1);
  --chart-1: oklch(0.865 0.127 207.078);
  --chart-2: oklch(0.715 0.143 215.221);
  --chart-3: oklch(0.609 0.126 221.723);
  --chart-4: oklch(0.52 0.105 223.128);
  --chart-5: oklch(0.45 0.085 224.283);
  --sidebar: oklch(0.214 0.009 43.1);
  --sidebar-foreground: oklch(0.986 0.002 67.8);
  --sidebar-primary: oklch(0.715 0.143 215.221);
  --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
  --sidebar-accent: oklch(0.268 0.011 36.5);
  --sidebar-accent-foreground: oklch(0.986 0.002 67.8);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.547 0.021 43.1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  .maplibregl-popup-content {
    @apply bg-transparent! shadow-none! p-0! rounded-none!;
  }
  .maplibregl-popup-tip {
    @apply hidden!;
  }
  .font-fjalla {
    font-family: var(--font-fjalla-one), sans-serif;
  }
}

@layer components {
  .link-primary {
    @apply text-sky-400 underline underline-offset-2 transition-colors hover:text-sky-800;
  }
  .bg-primary {
    background-color: var(--color-sky-600);
  }
  /* Ghost Loader */

  .ghost-loader-wrapper {
    position: relative;
    width: 100%;
    min-height: 220px;
    overflow: hidden;
  }

  .ghost-loader {
    position: absolute;
    right: -180px;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    animation: ghost-travel 5s linear infinite;
  }

  .ghost-body {
    position: relative;
    width: 140px;
    height: 140px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-template-areas:
      "a1  a2  a3  a4  a5  top0  top0  top0  top0  a10 a11 a12 a13 a14"
      "b1  b2  b3  top1 top1 top1 top1 top1 top1 top1 top1 b12 b13 b14"
      "c1 c2 top2 top2 top2 top2 top2 top2 top2 top2 top2 top2 c13 c14"
      "d1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 d14"
      "e1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 e14"
      "f1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 f14"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
      "st0 st0 an4 st1 an7 st2 an10 an10 st3 an13 st4 an16 st5 st5"
      "an1 an2 an3 an5 an6 an8 an9 an9 an11 an12 an14 an15 an17 an18";
    animation: ghost-bob 0.5s infinite;
  }

  @keyframes ghost-travel {
    0% {
      transform: translateY(-50%) translateX(0) scale(0.8);
    }
    100% {
      transform: translateY(-50%) translateX(calc(-100vw - 220px)) scale(0.8);
    }
  }

  @keyframes ghost-bob {
    0%,
    49% {
      transform: translateY(0);
    }
    50%,
    100% {
      transform: translateY(-10px);
    }
  }

  .ghost-top0,
  .ghost-top1,
  .ghost-top2,
  .ghost-top3,
  .ghost-top4,
  .ghost-st0,
  .ghost-st1,
  .ghost-st2,
  .ghost-st3,
  .ghost-st4,
  .ghost-st5 {
    background-color: rgb(236 72 153); /* pink-500 */
  }

  .ghost-top0 {
    grid-area: top0;
  }
  .ghost-top1 {
    grid-area: top1;
  }
  .ghost-top2 {
    grid-area: top2;
  }
  .ghost-top3 {
    grid-area: top3;
  }
  .ghost-top4 {
    grid-area: top4;
  }
  .ghost-st0 {
    grid-area: st0;
  }
  .ghost-st1 {
    grid-area: st1;
  }
  .ghost-st2 {
    grid-area: st2;
  }
  .ghost-st3 {
    grid-area: st3;
  }
  .ghost-st4 {
    grid-area: st4;
  }
  .ghost-st5 {
    grid-area: st5;
  }

  .ghost-an1 {
    grid-area: an1;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an18 {
    grid-area: an18;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an2 {
    grid-area: an2;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an17 {
    grid-area: an17;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an3 {
    grid-area: an3;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an16 {
    grid-area: an16;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an4 {
    grid-area: an4;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an15 {
    grid-area: an15;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an6 {
    grid-area: an6;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an12 {
    grid-area: an12;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an7 {
    grid-area: an7;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an13 {
    grid-area: an13;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an9 {
    grid-area: an9;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an10 {
    grid-area: an10;
    animation: ghost-flicker1 0.5s infinite;
  }
  .ghost-an8 {
    grid-area: an8;
    animation: ghost-flicker0 0.5s infinite;
  }
  .ghost-an11 {
    grid-area: an11;
    animation: ghost-flicker0 0.5s infinite;
  }

  @keyframes ghost-flicker0 {
    0%,
    49% {
      background-color: rgb(236 72 153);
    }
    50%,
    100% {
      background-color: transparent;
    }
  }

  @keyframes ghost-flicker1 {
    0%,
    49% {
      background-color: transparent;
    }
    50%,
    100% {
      background-color: rgb(236 72 153);
    }
  }

  .ghost-eye {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 30px;
  }

  .ghost-eye::before {
    content: "";
    background-color: white;
    width: 20px;
    height: 50px;
    transform: translateX(10px);
    display: block;
    position: absolute;
  }

  .ghost-eye::after {
    content: "";
    background-color: white;
    width: 40px;
    height: 30px;
    transform: translateY(10px);
    display: block;
    position: absolute;
  }

  .ghost-eye-left {
    left: 10px;
  }

  .ghost-eye-right {
    right: 30px;
  }

  .ghost-pupil {
    width: 20px;
    height: 20px;
    background-color: rgb(14 165 233);
    position: absolute;
    top: 50px;
    z-index: 1;
    animation: ghost-eyes 3s infinite;
  }

  .ghost-pupil-left {
    left: 10px;
  }

  .ghost-pupil-right {
    right: 50px;
  }

  @keyframes ghost-eyes {
    0%,
    49% {
      transform: translateX(0);
    }
    50%,
    99% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .ghost-shadow {
    background-color: black;
    width: 140px;
    height: 140px;
    position: absolute;
    border-radius: 50%;
    transform: rotateX(80deg);
    filter: blur(20px);
    top: 80%;
    animation: ghost-shadow 0.5s infinite;
  }

  @keyframes ghost-shadow {
    0%,
    49% {
      opacity: 0.5;
    }
    50%,
    100% {
      opacity: 0.2;
    }
  }
}
